<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
  	<div class="container-fluid navbar-container m-sm-5">
      <!-- Header -->
      <%- partial('_partial/header') %>

  		<div class="row">
  			<%- body %>
      </div>
      <% if (page.total > 1) { %>
    <nav class="page-nav">
        <%- paginator({prev_text: '<', next_text: '>'}) %>
    </nav>
<% } %>
      <hr>
      &copy; 2024 Timothy Keith. <em>All content is permissively licensed: 
      Photos <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> and <a href="https://github.com/beyondmeh/beyondmeh.com">code</a> under the <a href="https://raw.githubusercontent.com/beyondmeh/beyondmeh.com/main/LICENSE">ISC license</a>. Fair use is strongly encouraged.</em><br>
      <small>If you like my work, consider donating to my <a href="https://buymeacoffee.com/beyondmeh">book fund</a>.</small>
    </div>
    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
